<div class="add-worker-container" *ngIf="this.worker">
  <h1>Edytuj {{this.searchName}}</h1>
  <form class="add-worker-form" [formGroup]="newWorker" (submit)="editWorker(newWorker, this.searchName)">
    <div class="worker-item-block">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="name">
        <label for="float-input">Imię</label>
      </span>
    </div>
    <div class="worker-item-block">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="surname">
        <label for="float-input">Nazwisko</label>
      </span>
    </div>
    <div class="worker-item-block">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="function">
        <label for="float-input">Funkcja</label>
      </span>
    </div>
    <div class="worker-item-block">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="age">
        <label for="float-input">Wiek</label>
      </span>
    </div>
    <button pButton type="submit" class="edit-button" label="Edytuj"></button>
  </form>
</div>
<p *ngIf="!this.worker">Pracownik nie istnieje</p>
