.header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  color: white;
  padding-top: 5px;
  text-align: center;
}

.header-container img {
  background-color: white;
  font-size: 1.5rem;
  margin-left: 5px;
  margin-right: 5px;
}

.header-container:hover {
  border-bottom: 1px solid darkgoldenrod;
  transition: 0.5s;
}

.title h1 {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  border-right: 2px solid darkgoldenrod;
  border-left: 2px solid darkgoldenrod;
  font-weight: 400;
  margin-left: 10px;
  padding: 0px 10px 0px 10px;
}

.nav-bar-list {
  list-style: none;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
}

.nav-bar-list a {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  border: 1px solid darkgoldenrod;
  font-weight: 300;
  letter-spacing: 0.03rem;
  text-decoration: none;
  color: white
}

.nav-bar-list a:hover {
  background-color: rgb(233, 233, 233);
  color: black;
  border: 1px solid darkgoldenrod;
  cursor: pointer;
  transition: 0.3s;
}


.login-logout {
  display: flex;
  margin-top: 5px;
  margin-left: 2rem;
}

.login-logout a {
  text-decoration: none;
}

#button-login,
#button-logout,
#button-register {
  background-color: black;
  color: white;
  border: 1px solid darkgoldenrod;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.8rem;
}

#button-login a {
  text-decoration: none;
  color: black;
}

#button-login:hover {
  background-color: green;
  color: white;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
}

#button-login a:hover {
  color: white
}

#button-logout:hover {
  background-color: red;
  color: white;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
}

#button-register {
  text-decoration: none;
}

#button-register:hover {
  background-color: rgb(88, 0, 54);
  color: white;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
}

.login-logout p {
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 10px;
}
